@font-face {
  font-family: "Manrope";
  src: url("./assests/Manrope-VariableFont_wght.woff2");
}

:root {
  --primary-color: #ff6a3d;
  --secondary-color: #2a1208;
  --background-color: #000000;

  --transparent-color: rgba(0, 0, 0, 0.03);
  --secondary-transparent-color: rgba(240, 100, 50, 0.2);

  --border-radius: 0.315rem;
  --border-color: rgba(255, 255, 255, 0.2);

  --text-color: rgba(255, 255, 255, 0.8);
  --secondary-text-color: rgb(240, 100, 50);

  --font-family: Manrope;

  --transition: all 0.3s cubic-bezier(0, 0, 1, 1);
  --second-transition: all 0.2s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
}

body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
}

.main {
  padding: 2rem 1rem;
  width: 100%;
  margin-bottom: 5rem;
  background: radial-gradient(
    var(--secondary-color),
    var(--background-color),
    var(--background-color)
  );
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
}

/* --------------------------------------
NAVBAR 
--------------------------------------*/

.main nav {
  position: fixed;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main nav .left img {
  width: 10rem;
  cursor: pointer;
  transition: var(--transition);
}

.main nav .left img:hover {
  transform: scale(1.1);
}

.main nav ul {
  display: none;
  padding: 0.8rem 1.2rem;
  list-style: none;
  display: flex;
  gap: 2rem;
  border-top: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--transparent-color);
}

.main nav ul li a {
  text-decoration: none;
  display: inline-block;
  position: relative;
  height: 1.3rem;
  color: var(--text-color);
  font-size: 0.9rem;
  letter-spacing: 0.01rem;
  font-weight: 500;
  line-height: 1.3rem;
  transition: var(--transition);
  overflow: hidden;
}

.main nav ul li a span {
  display: block;
  transition: var(--transition);
}

.main nav ul li a::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  color: var(--primary-color);
  transition: var(--transition);
}

.main nav ul li a:hover span,
.main nav ul li a:hover::after {
  transform: translateY(-100%);
}

.main nav .right button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 1rem 2rem;
  border-radius: var(--border-radius);
  color: var(--text-color);
  font-size: 1.1rem;
  cursor: pointer;
  transition: var(--transition);
}

.main nav .right button:hover {
  color: white;
  background-color: var(--transparent-color);
  border-top: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
}

@media (max-width: 900px) {
  .main nav {
    padding: 0 2rem;
    justify-content: space-between;
  }
  .main nav .left img {
    width: 8rem;
  }

  .main nav ul,
  .main nav .right button {
    display: none;
  }
  .main nav .right .hamburger {
    border: none;
    border-radius: var(--border-radius);
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    transition: var(--transition);
  }
  .main nav .right .hamburger span::after {
    content: "";
    width: 30px;
    height: 3px;
    background-color: var(--text-color);
    display: block;
    margin: 8px 0;
    border-radius: var(--border-radius);
  }
  .main nav .right .hamburger:hover {
    background-color: var(--transparent-color);
    border-top: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
  }
  .main nav .right .hamburger:hover span::after {
    background-color: white;
  }
}
/* --------------------------------------
NAVBAR 
--------------------------------------*/

/* --------------------------------------
HERO SECTION 
--------------------------------------*/

.main .hero {
  width: 100%;
  margin-top: 15rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.main .hero .content {
  padding: 0 15rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.main .hero .content h1 {
  color: var(--secondary-text-color);
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.01rem;
  text-align: center;
  margin-bottom: -0.5rem;
}

.main .hero .content p {
  color: var(--text-color);
  font-size: 3.5rem;
  line-height: 4.5rem;
  font-weight: 500;
  letter-spacing: 0.01rem;
  text-align: center;
}

.main .hero .content p span {
  background-color: var(--secondary-color);
  padding: 0.2rem 0.5rem;
  border: 1px solid var(--primary-color);
}

.main .hero .content button {
  margin-top: 3rem;
  outline: none;
  border: none;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: var(--secondary-text-color);
  border-radius: var(--border-radius);
  box-shadow: 2px 2px 5px 0 black;
  cursor: pointer;
  overflow: hidden;
}

.main .hero .content button span {
  padding: 0.8rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
  display: block;
  position: relative;
  transition: var(--transition);
}

.main .hero .content button span::after {
  content: "Start Learning →";
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  padding: 0.8rem 0;
  font-size: 1rem;
  font-weight: 500;
  border-radius: var(--border-radius);
  color: var(--text-color);
  transition: var(--transition);
}

.main .hero .content button span:hover,
.main .hero .content button span:hover span::after {
  transform: translateY(-100%);
}

.main .hero .content button:hover {
  box-shadow: 0 0 8px 8px var(--secondary-text-color);
}

@media (max-width: 900px) {
  .main .hero .content {
    padding: 0 13rem;
  }
  .main .hero .content h1 {
    font-size: 0.8rem;
  }
  .main .hero .content p {
    line-height: normal;
    font-size: 2.5rem;
  }
}

/* --------------------------------------
HERO SECTION 
--------------------------------------*/

.section1,
.section2,
.section3,
.seciton4 {
  padding: 2rem 1rem;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
}
