:root {
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(0, 0, 0);

    --bg-color: rgb(244, 247, 246);

    --fade-txt-color: rgb(105, 105, 105);

    --login-btn-color: rgb(39, 87, 179);
    --register-btn-color: rgb(69, 168, 69);
    --logout-btn-color: rgb(153, 27, 27);
    /* --add-btn-color: rgb(0, 0, 0); */
    --add-btn-color: rgb(60, 130, 246);
    --options-color: rgba(60, 131, 246, 0.2);

    --font: "Segoe UI", sans-serif;
    --font-size-s: 0.8rem;
    --font-size-m: 1rem;
    --font-size-l: 1.2rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 2rem;

    --font-w-s: 400;
    --font-w-m: 500;
    --font-w-l: 600;
    --font-w-xl: 700;
    --font-w-xxl: 900;

    --radius-s: 0.25rem;
    --radius: 0.5rem;
    --radius-l: 1rem;

    --shadow: 0 0 0.5rem 0.5rem;
    --shadow-s: 0 0 0.2rem 0.2rem;
    --shadow-color: rgba(0, 0, 0, 0.1);

    --transition-speed: 0.3s;
}

.dark {
    --primary-color: rgb(0, 0, 0);
    --secondary-color: rgb(255, 255, 255);

    --bg-color: rgb(4, 7, 6);

    /* --add-btn-color: rgb(60, 130, 246); */

    --shadow-color: rgba(255, 255, 255, 0.1);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    min-height: 100vh;
    scroll-behavior: smooth;
    font-family: var(--font);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition:
        background-color var(--transition-speed),
        color var(--transition-speed);
}

.hero {
    width: 100%;
    min-height: 100vh;
    display: none;
    flex-flow: row nowrap;
    align-items: flex-start;
    background-color: var(--bg-color);
}

/* #region SIDE BAR */
.hero aside {
    background-color: var(--primary-color);
    width: auto;
    max-width: 250px;
    height: 100dvh;
    border-right: 2px solid var(--shadow-color);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1rem 3rem 1rem;
}

.hero aside .top {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: 2.5rem;
}

.hero aside .top .logo {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.hero aside .top .logo i {
    font-size: var(--font-size-xxl);
}

.hero aside .top .logo .title {
    display: none;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.hero aside .top .logo .title .head {
    font-size: var(--font-size-l);
    font-weight: var(--font-w-m);
}

.hero aside .top .logo .title .sub {
    font-size: var(--font-size-s);
    font-weight: var(--font-w-s);
    color: var(--fade-txt-color);
    margin-top: -0.2rem;
}

.hero aside .top .options {
    /* display: none; */
    width: 100%;
}

.hero aside .top .options ul {
    list-style: none;
    text-decoration: none;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    color: var(--fade-txt-color);
    gap: 0.5rem;
}

.hero aside .top .options ul li {
    width: 100%;
    font-size: var(--font-size-m);
    font-weight: var(--font-w-l);
    padding: 0.5rem 1rem;
    border-radius: var(--radius);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    cursor: pointer;
    transition: all ease-in-out var(--transition-speed);
}

.hero aside .top .options ul li span {
    display: none;
}

.hero aside .top .options ul li:active,
.hero aside .top .options ul li:hover {
    background-color: var(--options-color);
    color: var(--add-btn-color);
}

.options-li-active {
    background-color: var(--options-color);
    color: var(--add-btn-color);
}

.hero aside .bottom {
    width: 100%;
}

.hero aside .bottom button {
    width: 100%;
    border: none;
    outline: none;
    padding: 0.8rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: var(--radius);
    background-color: var(--add-btn-color);
    color: whitesmoke;
    font-size: var(--font-size-m);
    font-weight: var(--font-w-l);
    box-shadow: var(--shadow-s) var(--shadow-color);
    transition: all ease-in-out var(--transition-speed);
}

.hero aside .bottom button span {
    display: none;
}

/* #endregion SIDE BAR */

#main {
    flex: 1;
    height: 100vh;
    overflow-y: scroll;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
}

#main::-webkit-scrollbar {
    display: none;
}

/* #region NAV BAR  */
.hero #main nav {
    background-color: var(--primary-color);
    width: 100%;
    border-bottom: 2px solid var(--shadow-color);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    padding: 1rem;
}

.hero #main nav .right {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1rem;
}

.hero #main nav .right #userName {
    padding: 0.5rem 1rem;
    font-size: var(--font-size-m);
    font-weight: var(--font-w-l);
    border-right: 2px solid var(--shadow-color);
}

.hero #main nav .right #theme {
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: var(--radius);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
    font-size: var(--font-size-m);
    font-weight: var(--font-w-l);
    box-shadow: var(--shadow-s) var(--shadow-color);
    transition: all ease-in-out var(--transition-speed);
}

.hero #main nav .right #logout {
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: var(--radius);
    background-color: var(--logout-btn-color);
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
    font-size: var(--font-size-m);
    font-weight: var(--font-w-l);
    box-shadow: var(--shadow-s) var(--shadow-color);
    transition: all ease-in-out var(--transition-speed);
}

.hero #main nav .right #logout span {
    display: none;
}

/* #endregion NAV BAR  */

#dashboard {
    display: block;
    /* display: none; */
    width: 100%;
    max-width: 1200px;
    min-height: 100vh;
}

/* #region MAIN CARD SECTION */
#mainSection {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
    padding: 0 2rem 2rem 2rem;
}

#mainSection > h1 {
    width: 100%;
    font-size: var(--font-size-xxl);
    font-weight: var(--font-w-xl);
}

#mainSection > p {
    width: 100%;
    font-size: var(--font-size-m);
    font-weight: var(--font-w-m);
    color: var(--fade-txt-color);
    margin-top: -1.8rem;
}

#mainSection #cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

#mainSection #cards .card {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    border-radius: var(--radius);
    box-shadow: var(--shadow-s) var(--shadow-color);
    transition: all ease-in-out var(--transition-speed);
}

#mainSection #cards .card:hover {
    box-shadow: none;
}

#mainSection #cards .card i {
    font-size: var(--font-size-xxl);
    /* background-color: blue; */
    /* padding: 0.5rem; */
    border-radius: var(--radius);
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainSection #cards .card i span {
    padding: 0.5rem;
    font-size: var(--font-size-xxl);
    /* font-weight: var(--font-w-l); */
    font-weight: var(--font-w-xl);
}

#mainSection #cards .card p {
    font-size: var(--font-size-m);
    font-weight: var(--font-w-m);
    color: var(--fade-txt-color);
}

#mainSection #cards .card h1 {
    font-size: var(--font-size-xxl);
    font-weight: var(--font-w-xl);
    margin-top: -0.8rem;
}

#cards > #balance > i {
    color: rgb(60, 130, 246);
    background-color: rgba(60, 130, 246, 0.2);
}

#cards > #balance > #amtBalance {
    color: rgb(60, 130, 246);
}

#cards > #income > i {
    color: rgb(69, 168, 69);
    background-color: rgba(69, 168, 69, 0.2);
}

#cards > #income > #amtIncome {
    color: rgb(69, 168, 69);
}

#cards > #expense > i {
    color: rgb(153, 27, 27);
    background-color: rgba(153, 27, 27, 0.2);
}

#cards > #expense > #amtExpense {
    color: rgb(153, 27, 27);
}

#cards > #transaction > i {
    color: rgb(39, 87, 179);
    background-color: rgba(39, 88, 179, 0.2);
}

#cards > #transaction > #cntTransaction {
    color: rgb(39, 87, 179);
}

/* #endregion MAIN CARD SECTION */

/* #region GRAPH & PREFERENCES SECTION */

#graphSection {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    padding: 0 2rem 2rem 2rem;
}

#graphSection .graph-wrapper {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    border-radius: var(--radius);
    font-size: var(--font-size-m);
    font-weight: var(--font-w-m);
    color: var(--secondary-color);
    background-color: var(--primary-color);
    box-shadow: var(--shadow-s) var(--shadow-color);
    transition: all ease-in-out var(--transition-speed);
    cursor: pointer;
}

#graphSection .graph-wrapper .title {
    font-size: var(--font-size-xl);
    font-weight: var(--font-w-xl);
}

#graphSection .graph-wrapper #graph {
    width: 100%;
    border-radius: var(--radius-s);
    font-size: var(--font-size-m);
    font-weight: var(--font-w-m);
    color: var(--secondary-color);
    background-color: var(--shadow-color);
    box-shadow: var(--shadow-s) var(--shadow-color);
    transition: all ease-in-out var(--transition-speed);
    cursor: pointer;
}

#graphSection #preference {
    width: 100%;
    height: auto;
    display: flex;
    /* display: none; */
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    padding: 2rem 1.5rem;
    border-radius: var(--radius);
    font-size: var(--font-size-m);
    font-weight: var(--font-w-m);
    background-color: var(--primary-color);
    box-shadow: var(--shadow-s) var(--shadow-color);
}

#graphSection #preference h1 {
    font-size: var(--font-size-xl);
    font-weight: var(--font-w-xl);
}

#graphSection #preference h3 {
    width: 100%;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-size-m);
    font-weight: var(--font-w-xl);
    border-bottom: 2px solid var(--shadow-color);
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--secondary-color);
    transition: background-color var(--transition-speed) ease-in-out;
    border-radius: var(--radius-l);
}

.switch .slider::before {
    position: absolute;
    content: "";
    height: 1.2rem;
    width: 1.2rem;
    left: 0.25rem;
    bottom: 0.25rem;
    background-color: var(--primary-color);
    transition: transform var(--transition-speed) ease-in-out;
    border-radius: 50%;
}

.switch input:checked + .slider {
    background-color: var(--add-btn-color);
}

.switch input:checked + .slider::before {
    transform: translateX(1.5rem);
}

#reset {
    width: 100%;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: var(--radius);
    background-color: rgba(153, 27, 27, 0.2);
    color: rgb(153, 27, 27);
    font-size: var(--font-size-m);
    font-weight: var(--font-w-m);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    cursor: pointer;
    box-shadow: var(--shadow-s) var(--shadow-color);
    transition: all ease-in-out var(--transition-speed);
}

/* #endregion GRAPH & PREFERENCES SECTION */

/* #region TRANSACTION SECTION */
.transaction-wrapper {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    padding: 0 2rem 2rem 2rem;
}

#transactionSection {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem 1.5rem;
    overflow-x: scroll;
    border-radius: var(--radius);
    font-size: var(--font-size-m);
    font-weight: var(--font-w-m);
    background-color: var(--primary-color);
    box-shadow: var(--shadow-s) var(--shadow-color);
}

#transactionSection::-webkit-scrollbar {
    display: none;
}

/* #endregion TRANSACTION SECTION */

/* #region HEADER OF SEARCH & FILTERS */

#transactionSection .header {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
}

#transactionSection .title {
    width: 100%;
    font-size: var(--font-size-xl);
    font-weight: var(--font-w-xl);
}

#transactionSection .filters {
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-flow: row nowrap;
    /* background-color: rebeccapurple; */
}

#transactionSection .filters .search {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    border-radius: var(--radius);
    cursor: pointer;
    box-shadow: var(--shadow-s) var(--shadow-color);
    transition: all ease-in-out var(--transition-speed);
}

#transactionSection .filters .search:hover {
    box-shadow: none;
}

#transactionSection .filters .search i {
    color: var(--secondary-color);
    font-weight: var(--font-w-l);
}

#transactionSection .filters .search input {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 0.8rem;
    font-weight: var(--font-w-m);
    color: var(--secondary-color);
}

#transactionSection .filters #filterInp,
#transactionSection .filters #filterInp option {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: none;
    outline: none;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    border-radius: var(--radius);
    font-size: var(--font-size-m);
    font-weight: var(--font-w-m);
    cursor: pointer;
    box-shadow: var(--shadow-s) var(--shadow-color);
    transition: all ease-in-out var(--transition-speed);
}

#transactionSection .filters #filterInp:hover {
    box-shadow: none;
}

/* #endregion HEADER OF SEARCH & FILTERS */

/* #region TRANSACTIONS LIST & TABLES */
#transactionsList {
    width: 100%;
    border-collapse: collapse;
    color: var(--secondary-color);
}

#transactionsList th {
    text-align: left;
    font-size: var(--font-size-s);
    font-weight: var(--font-w-l);
    letter-spacing: 0.05em;
    color: var(--fade-txt-color);
    padding: 1rem;
    border-bottom: 1px solid var(--shadow-color);
}

#transactionsList tr {
    border-bottom: 1px solid var(--shadow-color);
}

#transactionsList td {
    padding: var(--font-size-l) var(--font-size-m);
    font-size: var(--font-size-m);
    vertical-align: middle;
}

#transactionsList .category-pill {
    display: inline-block;
    padding: var(--radius-s) var(--font-size-m);
    border-radius: 50px;
    /* Kept standard for pill shape */
    font-size: var(--font-size-s);
    font-weight: var(--font-w-l);
    text-transform: lowercase;
    background-color: var(--options-color);
    color: var(--add-btn-color);
}

#transactionsList td.expense {
    color: var(--logout-btn-color);
    /* Linked to red button variable */
    font-weight: var(--font-w-l);
}

#transactionsList td.income {
    color: var(--register-btn-color);
    /* Linked to green button variable */
    font-weight: var(--font-w-l);
}

#transactionsList td:last-child {
    display: flex;
    gap: var(--font-size-l);
    align-items: center;
}

#transactionsList .edit i,
#transactionsList .delete i {
    font-size: var(--font-size-l);
    cursor: pointer;
    transition:
        transform var(--transition-speed) ease,
        opacity var(--transition-speed) ease;
}

#transactionsList .edit i {
    color: var(--add-btn-color);
}

#transactionsList .delete i {
    color: var(--logout-btn-color);
}

#transactionsList .edit i:hover,
#transactionsList .delete i:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

/* #endregion TRANSACTIONS LIST & TABLES */

#setting {
    /* display: block; */
    display: none;
    width: 100%;
    max-width: 1200px;
    min-height: 100vh;
}

#settingsSection {
    flex: 1;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
    padding: 0 2rem 2rem 2rem;
}

#settingsSection::-webkit-scrollbar {
    display: none;
}

/* #region SETTINGS SECTION  */
#settingsSection > h1 {
    font-size: var(--font-size-xxl);
    font-weight: var(--font-w-xl);
}

#settingsSection > p {
    font-size: var(--font-size-m);
    font-weight: var(--font-w-m);
    color: var(--fade-txt-color);
    margin-top: -1.8rem;
}

/* #endregion SETTINGS SECTION  */

/* #region SETTING PANEL CARD */
#settingPanel {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.2rem;
    padding: 1.2rem;
    border-radius: var(--radius);
    background-color: var(--primary-color);
    box-shadow: var(--shadow-s) var(--shadow-color);
    transition: all ease-in-out var(--transition-speed);
}

#settingPanel .title {
    width: 100%;
    font-size: var(--font-size-xl);
    font-weight: var(--font-w-xl);
    color: var(--secondary-color);
}

#settingPanel form {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
}

#settingPanel form .inputs-div {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}

#usernameSettingDiv,
#currencySettingDiv {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

#usernameSettingLbl,
#currencySettingLbl {
    font-size: var(--font-size-l);
    font-weight: var(--font-w-m);
    color: var(--fade-txt-color);
}

#usernameSettingInp,
#currencySettingInp {
    width: 100%;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: var(--radius-s);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: var(--font-size-m);
    font-weight: var(--font-w-m);
    cursor: pointer;
    box-shadow: var(--shadow-s) var(--shadow-color);
    transition: all ease-in-out var(--transition-speed);
}

#usernameSettingInp:hover,
#currencySettingInp:hover {
    box-shadow: none;
}

#currencySettingInp option {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0.5rem;
}

#saveChangesBtn {
    padding: 0.75rem 1rem;
    outline: none;
    border: none;
    border-radius: var(--radius);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: var(--font-size-m);
    font-weight: var(--font-w-l);
    cursor: pointer;
    box-shadow: var(--shadow-s) var(--shadow-color);
    transition: all ease-in-out var(--transition-speed);
}

/* #endregion SETTING PANEL CARD */

/* #region ADD & EDIT TRANSACTION-PAGE */
.add-transaction-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--shadow-color);
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
    /* padding: 1rem; */
}

.add-transaction-wrapper #addTransaction {
    width: 100%;
    height: 100%;
    /* max-width: 500px; */
    background-color: var(--bg-color);
    padding: 1rem 2rem 2rem 2rem;
    border-radius: var(--radius);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    box-shadow: var(--shadow-s) var(--shadow-color);
    transition: all ease-in-out var(--transition-speed);
}

#addTransaction .top {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    color: var(--secondary-color);
    font-size: var(--font-size-xl);
    font-weight: var(--font-w-xl);
}

#addTransaction .top i {
    color: var(--fade-txt-color);
    transform: scale(0.8);
    transition: all ease-in-out var(--transition-speed);
    cursor: pointer;
}

#addTransaction .top i:hover {
    color: var(--secondary-color);
    transform: scale(1);
}

#addTransaction form {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}

#addTransaction form .inp {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
}

#addTransaction form .inp2 {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}

#addTransaction form .inp2 .inp21 {
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
}

#addTransaction form label {
    font-size: var(--font-size-m);
    font-weight: var(--font-w-l);
    color: var(--secondary-color);
}

#addTransaction form input,
#addTransaction form select,
#addTransaction form button {
    width: 100%;
    box-sizing: border-box;
    color: var(--secondary-color);
    outline: none;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: var(--radius-s);
    background-color: transparent;
    box-shadow: var(--shadow-s) var(--shadow-color);
}

#addTransaction form button {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

#addTransaction form input:hover,
#addTransaction form select:hover,
#addTransaction form button:hover {
    box-shadow: none;
}

#addTransaction form select option {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0.5rem;
}

#addTransaction form input::-webkit-inner-spin-button {
    display: none;
}

/* #endregion ADD & EDIT TRANSACTION-PAGE */

/* #region FORMS */
main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
}

.loginSignup {
    width: 80%;
    max-width: 350px;
    /* border: 2px solid var(--secondary-color); */
    margin: 0.5rem 0;
    padding: 2rem 0.5rem 3rem 0.5rem;
    border-radius: var(--radius);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    box-shadow: var(--shadow) var(--shadow-color);
    transition: all ease-in-out var(--transition-speed);
}

.loginSignup .loginSignupTitle {
    font-size: var(--font-size-xl);
}

.loginSignup .loginSignupHead {
    font-size: var(--font-size-m);
}

.loginSignup form {
    flex: 0;
    width: 100%;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.loginSignup form div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.loginSignup form div input {
    flex: 0;
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: var(--radius-s);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    box-shadow: var(--shadow-s) var(--shadow-color);
    transition: all ease-in-out var(--transition-speed);
}

.loginSignup form button {
    flex: 0;
    width: 100%;
    padding: 0.5rem;
    outline: none;
    border: none;
    border-radius: var(--radius);
    /* color: var(--primary-color); */
    color: whitesmoke;
    font-size: var(--font-size-s);
    font-weight: var(--font-w-l);
    box-shadow: var(--shadow-s) var(--shadow-color);
    transition: all ease-in-out var(--transition-speed);
}

.loginBtn {
    background-color: var(--login-btn-color);
}

.signupBtn {
    background-color: var(--register-btn-color);
}

.loginSignup p {
    font-size: var(--font-size-s);
}

.loginSignup p #anchor {
    color: var(--login-btn-color);
    cursor: pointer;
}

/* #endregion FORMS */

button:active,
button:hover {
    box-shadow: none !important;
    transform: scale(0.98);
}

/* #region TOAST */
#toast {
    display: none;
    position: fixed;
    z-index: 2;
    top: 5rem;
    right: 2rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: var(--font-size-m);
    font-weight: var(--font-w-xl);
    padding: 1rem;
    word-break: break-all;
    max-width: 20rem;
    border-radius: var(--radius-l) 0 var(--radius-l) var(--radius-l);
    box-shadow: var(--shadow) var(--shadow-color);
}
#toast.toast-success {
    background-color: rgba(69, 168, 69, 0.8);
}
#toast.toast-warn {
    background-color: rgba(153, 27, 27, 0.8);
}
#toast.toast-hide {
    /* #toast:hover{ */
    /* animation: sliding 1s ease-in-out alternate infinite; */
    /* animation: sliding 1s ease-in-out forwards; */
    animation-name: sliding;
    animation-delay: 1s;
    animation-duration: 1s;
}

/* ANIMATIONS */
@keyframes sliding {
    to {
        opacity: 0;
        transform: translateX(10px);
    }
}

/* #endregion TOAST */

/* #region Responsive Media Query */
/* Tablets */
@media (min-width: 768px) {
    #mainSection #cards {
        grid-template-columns: repeat(2, 1fr);
    }

    #graphSection {
        display: flex;
        flex-flow: row nowrap;
    }

    #graphSection .graph-wrapper {
        width: 60%;
        height: 15rem;
    }

    #graphSection #preference {
        width: 40%;
        height: 15rem;
    }

    .add-transaction-wrapper {
        padding: 1rem;
    }

    .add-transaction-wrapper #addTransaction {
        max-width: 500px;
        height: auto;
    }
}

/* Laptops */
@media (min-width: 1024px) {
    .hero aside {
        width: 35%;
    }

    .hero aside .top .logo {
        justify-content: flex-start;
    }

    .hero aside .top .logo .title {
        display: flex;
    }

    .hero aside .top .options ul li span {
        display: block;
    }

    .hero aside .bottom button span {
        display: block;
    }

    .hero #main nav .right #logout span {
        display: block;
    }

    #mainSection #cards {
        grid-template-columns: repeat(4, 1fr);
    }

    #reset {
        font-size: var(--font-size-m);
        font-weight: var(--font-w-l);
        gap: 0.2rem;
    }

    #settingPanel form .inputs-div {
        flex-flow: row nowrap;
    }
}

/* Desktops */
@media (min-width: 1200px) {
    #graphSection .graph-wrapper {
        width: 70%;
        height: 15rem;
    }

    #graphSection #preference {
        width: 30%;
        height: 15rem;
    }
    #reset {
        gap: 1rem;
    }
}

/* #endregion responsive */
