@import "tailwindcss";

.notify {
    position: relative;
}
.notify::after {
    content: "";
    padding: 0.4rem;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: -2px;
    right: -2px;
    animation: popup 1s ease-in-out alternate infinite;
}

@keyframes popup {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.8);
    }
}
