*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d5d6fa;
}


.main{
    background-color: #f5f7fe;
    position: relative;   
    height: 90%;
    width: 90%;
    padding: 1rem;
    overflow: scroll;
    scroll-behavior: smooth;    
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;    
}

.main::-webkit-scrollbar {
    display: none;
}

.top-right{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.bottom-left{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.bottom-right{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #f5f7fe;
    border: none;
    border-radius: 10px 10px 0 0;
}

nav img {
    width: 10rem;
    mix-blend-mode: multiply;
}

nav div {
    width: 40px;
    height: 2.5rem;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.3rem;    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

nav div:hover{
    background-color: #d5d6fa;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 0.5rem;
}

.search{    
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 18rem;
    height: 2.5rem;
    padding: 20px;
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    gap: 0.5rem;
    cursor: pointer;
}

.search input{
    background-color: white;
    border: none;
    outline: none;
    font-size: 1rem;
}


.filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.5rem;
    gap: 1rem;
}

.filter .filter-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
    font-weight: 200;
    cursor: pointer;
    background-color: white;    
    width: 12rem;
    height: 2.5rem;
    padding: 20px;
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.sort{
    width: 50px;
    height: 2.5rem;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.3rem;    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

.sort:hover{
    background-color: #d5d6fa;
}

.hero{
    height: 25rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.card{
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 20%;    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    padding: 10px;
}
.card:hover{
    transform: scale(1.1);    
}


.card:nth-child(1){
    background-image: url(./assets/card1.png);
}

.card:nth-child(2){
    background-image: url(./assets/card2.png);
}

.card:nth-child(3){
    background-image: url(./assets/card3.png);
}

.card:nth-child(4){
    background-image: url(./assets/card4.png);
}


.card .top{
    display: flex;
    justify-content: space-between;  
    color: gray;  
}

.card .top .left{
    display: flex;
    flex-direction: column;    
    gap: 0.5rem;
}


.card:nth-child(1) .top .left .icon, 
.card:nth-child(1) .bottom .below .left {
    background-color: #e7f3e9;
    color: #6aae64;
}

.card:nth-child(2) .top .left .icon, 
.card:nth-child(2) .bottom .below .left {
    background-color: #eaf0f8;
    color: #4a6075;
}

.card:nth-child(3) .top .left .icon, 
.card:nth-child(3) .bottom .below .left {
    background-color: #fdf4f2;
    color: #e05939;
}

.card:nth-child(4) .top .left .icon, 
.card:nth-child(4) .bottom .below .left {
    background-color: #EEF3FC;
    color: #325FD9;
}

.card .top .left .icon {
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.3rem;    
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out
}

.card .top .left .icon img {
    width: 1rem;
    height: 1rem;
}

.card .top .right {
    width: 2rem;
    height: 2rem;
    background-color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.3rem;    
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out    
}
.card .top .right:hover{
    background-color: #d5d6fa;
}


.card .bottom{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.card .bottom .name{
    font-size: 1.5rem;
    color: #051e38;
}

.card .bottom .below{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .bottom .below .left{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.8rem;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.card .bottom .below .left img{
    width: 1rem;
    height: 1rem;
}

.card .bottom .right {
    width: 2rem;
    height: 2rem;
    background-color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1rem;    
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out    
}
.card .bottom .right:hover{
    background-color: #d5d6fa;
}



.tab {
    background-color: white;
    display: flex;    
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: calc(fit-content + 2rem);
    padding: 10px 20px;
    gap: 0.5rem;
    border: none;
    border-radius: 10px;    
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}


.tab .tab-child {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 5px;
    gap: 0.5rem;
}

.tab .tab-child:nth-child(1) .icon{
    background-color: #E6EAFD;
}
.tab .tab-child:nth-child(2) .icon{
    background-color: #E9F2EC;
}
.tab .tab-child:nth-child(3) .icon{
    background-color: #F9F0EB;
}
.tab .tab-child:nth-child(4) .icon{
    background-color: #ECE4FB;
}

.tab .tab-child:nth-child(n+1) {    
    border-right: 2px solid #babeca;
}
.tab .tab-child:nth-child(4) {    
    border: none;
}

.tab .tab-child .icon {
    padding: 0.5rem; 
    border: none; 
    border-radius: 50%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    cursor: pointer; 
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.tab .tab-child .icon img{
    width: 1.5rem;
    height: 1.5rem;
}


.tab .tab-child .para h2{
    font-size: 1rem;        
    font-weight: 900; 
    color: #051e38;
    margin-bottom: 10px;
}

.tab .tab-child .para p{
    font-size: 0.8rem;        
    font-weight: 200; 
    color: #051e38;
    line-height: 1.3rem;
}



footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: 0.5rem;
    margin-top: auto;
    color: gray;
} 

footer img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    mix-blend-mode: multiply;
}