:root {
    --txt-color: rgb(0, 0, 0);
    --bg-color: rgb(255, 255, 255);
    --faded-color: gray;
    --transparent-color: rgba(0, 0, 0, 0.8);

    --delete-color: rgba(255, 0, 0, 0.8);
    --update-color: rgba(255, 166, 0, 0.8);
    --cart-color: rgba(0, 200, 0, 0.8);

    --font-small: 0.5rem;
    --font-medium: 1rem;
    --font-large: 1.5rem;

    --font-thin: 100;
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 700;
    --font-bolder: 900;

    --font: Verdana, Geneva, Tahoma, sans-serif;

    --radius: 50px;
    --radius-m: 25px;
    --radius-s: 10px;

    --shadow: 0 0 1rem;

    --transition: all ease 0.3s;
}
.dark {
    --txt-color: rgb(255, 255, 255);
    --bg-color: rgb(0, 0, 0);
    --transparent-color: rgba(255, 255, 255, 0.8);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

html,
body {
    width: 100%;
    min-height: 100vh;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    position: relative;
}

main {
    max-width: 1200px;
    width: 100%;
    min-height: 100vh;
    padding: 2rem 1rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    color: var(--txt-color);
    background-color: var(--bg-color);
}

.main-overflow {
    height: 100vh;
    overflow: hidden;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    border-radius: var(--radius);
    color: var(--txt-color);
    background-color: var(--bg-color);
    box-shadow: var(--shadow) var(--transparent-color);
}

#right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-flow: row nowrap;
}

#right button {
    background-color: var(--txt-color);
    color: var(--bg-color);
    box-shadow: var(--shadow) var(--transparent-color);
    padding: 0.5rem 1rem;
    font-weight: var(--font-bold);
    text-align: center;
    text-transform: uppercase;
    outline: none;
    border: none;
    border-radius: var(--radius);
    transition: var(--transition);
    cursor: pointer;
}

#right button:hover {
    box-shadow: inset var(--shadow) var(--transparent-color);
    color: var(--txt-color);
    background-color: var(--bg-color);
}

#hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    gap: 1rem;
    flex-flow: row wrap;
}

body::-webkit-scrollbar, 
main::-webkit-scrollbar, 
#hero::-webkit-scrollbar {
    display: none;
}

#noProduct {
    text-align: center;
    color: var(--faded-color);
    text-transform: uppercase;
    font-weight: var(--font-bolder);
    font-size: var(--font-medium);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
}

.card {
    width: calc(90% / 1);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    color: var(--txt-color);
    background-color: var(--bg-color);
    border-radius: var(--radius-s);
    box-shadow: var(--shadow) var(--transparent-color);
    gap: 1rem;
    transition: var(--transition);
    cursor: pointer;
    overflow: hidden;
}
.card:hover {
    transform: scale(0.99);
    box-shadow: none;
}

.card .prodImg {
    overflow: hidden;
    width: 100%;
    height: 15rem;
    border-radius: 0 0 var(--radius-s) var(--radius-s);
}
.card .prodImg img {
    object-fit: cover;
    object-position: center;
    border: none;
    width: 100%;
    border-radius: 0 0 var(--radius-s) var(--radius-s);
}

.card .mid {
    padding: 0 0.5rem 0.5rem 0.5rem;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.2rem;
}
.card .mid .id {
    display: none;
}

.card .mid .name,
.card .mid .price {
    padding-bottom: 0.5rem;
}

.card .lower {
    padding: 0 1rem 1.5rem 1rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}

.card .lower .cart {
    color: var(--cart-color);
}
.card .lower .delete {
    color: var(--delete-color);
}

.card i {
    font-size: var(--font-large);
    font-weight: var(--font-bolder);
    transform: scale(1.2);
    transition: var(--transition);
}
.card i:hover {
    transform: scale(1.1);
}


#form {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: none;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: var(--txt-color);    
    background-color: var(--transparent-color);
}

#form div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    width: 100%;
}
#form #close {
    font-size: var(--font-large);
    color: var(--faded-color);
    cursor: pointer;
    transition: var(--transition);
    transform: scale(1);
}
#form #close:hover {
    color: var(--txt-color);
    transform: scale(1.2);
}

form {
    width: 90%;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    background-color: var(--bg-color);
    padding: 2rem 1rem;
    border-radius: var(--radius-m);
    box-shadow: var(--shadow) var(--transparent-color);
}

form #formTitle {
    text-transform: uppercase;
    text-align: center;
    color: var(--faded-color);
    margin-bottom: 1rem;
}

form input {
    flex: 0;
    outline: none;
    border: none;
    border-radius: var(--radius-m);
    padding: 1rem;
    background-color: var(--bg-color);
    color: var(--txt-color);
    box-shadow: var(--shadow) var(--transparent-color);
}
form textarea {
    flex: 1;
    outline: none;
    border: none;
    border-radius: var(--radius-m);
    padding: 1rem;
    background-color: var(--bg-color);
    color: var(--txt-color);
    box-shadow: var(--shadow) var(--transparent-color);
    resize: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea::-webkit-scrollbar {
    -webkit-appearance: none;
    margin: 0;
}

#sampleFormImg{
    width: 100%;
    height: 15rem;   
    border-radius: var(--radius-m);
    object-fit: cover;
    object-position: center;
    border: none;
}

form button {
    outline: none;
    border: none;
    border-radius: var(--radius);
    padding: 1rem 2rem;
    background-color: var(--txt-color);
    color: var(--bg-color);
    box-shadow: var(--shadow) var(--transparent-color);
    transition: var(--transition);
    cursor: pointer;
}

form button:hover {
    box-shadow: none;
    border: 0.1px solid var(--txt-color);
    background-color: var(--bg-color);
    color: var(--txt-color);
    transform: scale(0.99);
}



#cart {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: var(--txt-color);    
    background-color: var(--transparent-color);
}

/* Tablets */
@media (min-width: 576px) {
    .card {
        width: calc(90% / 2);
    }
    .card i {
        font-size: var(--font-large);
    }
    form {
        width: 90%;
    }
}
/* Tablets */
@media (min-width: 768px) {
    .card {
        width: calc(90% / 3);
    }
    .card i {
        font-size: var(--font-medium);
    }
    form {
        width: 60%;
    }
}
/* Laptops */
@media (min-width: 992px) {
    .card {
        width: calc(90% / 4);
    }
    .card i {
        font-size: var(--font-medium);
    }
    form {
        width: 50%;
    }
}
/* Desktops */
@media (min-width: 1200px) {
    .card {
        width: calc(90% / 4);
    }
    .card i {
        font-size: var(--font-medium);
    }
    form {
        width: 50%;
    }
}
/* Large Screens */
@media (min-width: 1400px) {
    .card {
        width: calc(90% / 4);
    }
    .card i {
        font-size: var(--font-medium);
    }
    form {
        width: 50%;
    }
}
